{% extends 'base.html' %}
{% block title %}
Title
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>{{show_project.name}}</h1>
            <p>{{show_project.description}}</p>
        <h2>Tasks</h2>
        <p><a href="{% url 'create_task' %}">Create a new task</a>
        {% if show_project.tasks.count < 1 %}
        <p>This project has no tasks</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                {% for Task in show_project.tasks.all %}
                <tr>
                    <td>{{ Task.name }}</td>
                    <td>{{ Task.assignee.username }}</td>
                    <td>{{ Task.start_date }}</td>
                    <td>{{ Task.due_date }}</td>
                    <td>{{ Task.is_completed|yesno:"yes,no" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</main>
{% endblock content %}
