{% extends 'base.html' %}
{% block title %}
Title
{% endblock title %}
{% block content %}
    <main>
        <div>
        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create new project</a></p>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
                </thead>
                <tbody>
                {% for project in list_projects %}
                <tr>
                    <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</td>
                    <td>{{ project.tasks.all|length }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if not list_projects %}
            <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
