{% extends 'base.html' %}
{% block title %}
My Tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_list.count < 1 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Task in task_list %}
                            <tr>
                                <td>{{ Task.name }}</td>
                                <td>{{ Task.start_date }}</td>
                                <td>{{ Task.due_date }}</td>
                                <td>{{ Task.is_completed|yesno:"yes,no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
